@import './../../styles/mixins.scss';
@import './../../styles/variables.scss';

body{
    background: linear-gradient(0.25turn, 	#97ce4c, #f0e14a, #97ce4c);
}

.dashboard-title{
    color: $main-blue;
    font-family: $RMFont;
    font-size: 60px;
    margin-top: 60px;
    text-align: center;
    text-shadow: 0 0 20px #91e41c;
    -webkit-text-stroke: 1px black;
}

.navbar-container{
    height:70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}